<section class="main">
  <img class="nav" alt="" src="../assets/images/crown.svg">
  <app-nav></app-nav>
  <main style="position: relative;">
    <div style="position: relative;">
      <aside style="z-index: 10;">
        <h2>
          WattWatt
        </h2>
        <h3>Decentralizing Energy Funding</h3>
        <!-- <br>
      <br>
      <h3>Bring your enterprise into the future with:</h3> -->
        <!-- <ul class="value-props">

        <span>
          <img style="" alt="" src="../assets/images/logo.svg">
          <li style="margin-left:5px;">Rapid application development</li>
        </span>
        <span>
          <img alt="" src="../assets/images/logo.svg">
          <li style="margin-left:5px;">real-time process oversight</li>
        </span>
        <span>
          <img alt="" src="../assets/images/logo.svg">
          <li style="margin-left:5px;">ongoing anamoly detection</li>
        </span>
        <span>
          <img alt="" src="../assets/images/logo.svg">
          <li style="margin-left:5px;">fully equiped native analytics</li>
        </span>
      </ul> -->
      </aside>
      <img style="z-index: -1; position: absolute; top: -150%; transform: scale(1.25);" src="../../assets/images/disco.svg" alt="">
      <!-- <img style="z-index: -1; position: absolute; top: -150%; transform: scale(1.45);" src="../../assets/images/crown.svg" alt=""> -->
    </div>
    <!-- <img style="z-index: -1; position: absolute; height: 50vh; top: 0; right: -12.5%; opacity: 0.1;" src="../../assets/images/crown.svg" alt=""> -->
    <div style="width: 10rem; position: absolute; bottom: 2rem; left: 2rem;" class="bottom-text">
      <h2 style="font-size: 14px;">The Process Optimization Company</h2>
      <p style="font-size: 12px;">A group of executives and innovators building the next generation platform for real-time process optimization.</p>
    </div>
  </main>
  <particles class="particles" [width]="width" [height]="height" [params]="myParams"></particles>
  <div class="bg"></div>
</section>

<section id="services" class="radar">
  <div class="title services">
    <div class="cover"></div>
    <img src="../assets/images/line.svg" alt="">
    <span>ea-Services</span>
  </div>
  <main>
    <ea-services></ea-services>
  </main>

</section>

<section id="studies" class="industries">
  <div class="title team">
    <div class="cover"></div>
    <img src="../assets/images/line.svg" alt="">
    <span>ea-Case Studies</span>
  </div>
  <main class="case-studies">
    <app-ea-industries></app-ea-industries>
    <!-- <button (click)="toggleCaseStudy()"></button>
    <div *ngIf="caseStudy === true">
      <div class="expandable">
      </div>
    </div> -->
  </main>
</section>


<!-- <ea-open></ea-open> -->

<!-- <section id="team" class="benefits">
  <div class="title team">
    <div class="cover"></div>
    <img src="../assets/images/line.svg" alt="">
    <span>The eaTeam</span>
  </div>
  <main class="benefit-cards">
    <ea-card></ea-card>
  </main>
</section> -->
<section class="team">
  <app-team></app-team>
</section>
