.image-card {
  height: 10rem;
  width: 15rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #9b0090;
  padding: 1rem;
}

li {
  list-style: none;
  padding: 0;
  display: flex;
}

ul {
  padding: 0;
}

img.checkmark {
  height: 25px;
  width: 25px;
  padding-right: 10px;
}

span.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
