<main class="benefit-cards">
  <div class="card" style=" flex-direction: column;display: flex; justify-content: center;" >
      <img style="width: 10rem;" alt="" src="../assets/images/model.svg">

      <label for="main1">One Model</label>
      <main id="main1">
        <h2>Everything organized</h2>
      </main>
    </div>
    <div class="card" >
      <img alt="" src="../assets/images/model.svg">
    </div>
    <div class="card" >
      <img alt="" src="../assets/images/model.svg">
    </div>
</main>
