
.expandable {
  height: 50vh;
  background: var(--background-2)
}
/*
.card-industry{
  background: white;
  height: 15rem;
  width: 17.5rem;
  border-top: 3px solid green;
  margin-bottom: 2rem;
} */
.industry-pic{
width: 20rem;
height: 12.5rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  font-weight: 900;
  text-decoration: underline;
}

#main1 {
  padding: 0 1rem 0 1rem;
}

h2 {
  font-weight: 900;
}
