/*VARIABLES*/
:root {
  --color1: #333333;
  --color2: #ffffff;
  --backgroundColor-1: #e4e4e4;
  --background-2: #000;

  --accent-1: #426c0b;
  --accent-2: #426c0b;

  --background-1: #1d1d1d;
  --background-2: rgb(245, 245, 245);
  --background-3: #355a7a;

  --error-color: red;
  --font-1: "Open Sans";
}




/***************************/

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background: var(--background-1);
}

section.main {

z-index: 10;
}

section.team-main {
  background-image: url("./assets/images/team.png");
  background-repeat: no-repeat;
}


section.main img.nav {
  width: 30px;
  position: fixed;
  top: 10px;
  left: 25px;
  z-index: 999;
}

/* ea-card {

  display: flex;
  flex-wrap: wrap;
  margin-right: 2rem;
  justify-content: space-evenly;

} */

section.radar {
  background: var(--background-1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
section.radar main {
display: flex;
justify-content: space-evenly;
min-height: 75vh;
align-items: center;
width: 100%;
}

section.radar main aside {
color: var(--color2);
}

.title {
width: 100%;
display: flex;
margin-top: 3rem;
color: white;

height: 10rem;
align-items: center;
position: relative;
}

.title.services {
  background-image: url("/assets/images/image.png");
  background-repeat: no-repeat;
}

.title.team {
  background-image: url("/assets/images/team.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title .cover {
  position: absolute;
  background: var(--background-1);
  height: 100%;
  width: 100%;
  opacity: .5;
}

.title img,
.title span {
z-index: 10;
}

.title span {
  font-size: 24px;
}
section.radar span {
color: var(--color2);
padding-left: 10px;
}

section.main nav {
  position: absolute;
  display: flex;
  width: 100%;
  right: 0;
  top: 10px;
  z-index: 99;
}

section.main ul.nav {
  list-style: none;
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  width: 30%;
  justify-content: space-around;
  right: 0;
  top: 10px
}

section.main main ul {
  padding:0;
}

section.main main li {
  margin: 5px 0 5px 0;
}
ul.value-props span {
  display: flex; align-items: center;

}

ul.value-props img {
  width: 20px;
}

ul.value-props li {
  margin-left: 5px;
}

section.main li {
  list-style: none;
  color: white;
}

section.main main {
  display: flex;
  align-items: center;
  height: 90vh;
  /*background: #1d1d1d;*/
  color: white;
  opacity: .93;
  justify-content: space-around;
}

section.benefits {
  background: var(--background-1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

section.benefits div.card {
  background: white;
  height: 17.5rem;
  width: 12rem;
  border-top: 3px solid green;
  margin-bottom: 2rem;
}

.card-industry {
  background: white;
  min-height: 17.5rem;
  min-width: 17.5rem;
  border-top: 3px solid green;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

footer {
  height: 35vh;
  background: #3B3B3B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer aside {
  height: 35vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

form button {
  height: 4rem;
  width: 10rem;
  color: white;
/*  padding: 2rem; */
  border: 3px solid white;
  background: none;
}

form input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  width: 100%;
  outline: none;
  color: white;
  line-height: 2rem;
  font-size: 16px;
}

h2,
h3 {
margin: 0;
}

#management,
#directors,
#advisors {
  margin-bottom: 2rem;
}
footer main li:nth-child(1){
font-size: 22px;
}

footer main {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

footer aside h2 {
  margin: 0
}

footer main ul {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: green;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


/* Curl Bottom Left */
.hvr-curl-bottom-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-curl-bottom-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  background: none;
  /* IE9 */
  background: linear-gradient(45deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-bottom-left:hover:before, .hvr-curl-bottom-left:focus:before, .hvr-curl-bottom-left:active:before {
  width: 25px;
  height: 25px;
}
