
<footer>
  <aside>
    <h2>WattWatt</h2>
    <h3>Decentralized Energy Funding</h3>
  </aside>
  <main>
    <ul>
      <li>Resources</li>
      <li><span class="hvr-underline-from-center"> <a style="text-decoration: none; color: white;" href="https://eang.io"> Open Source </a></span></li>
    </ul>
    <ul>
      <li>Case Studies</li>
      <li><span class="hvr-underline-from-center"> <a style="text-decoration: none; color: white;" href="#studies"> Healthcare </a></span></li>
      <li><span class="hvr-underline-from-center"><a style="text-decoration: none; color: white;" href="#studies">Enterprise Apps</a></span></li>
      <li><span class="hvr-underline-from-center"><a style="text-decoration: none; color: white;" href="#studies">Real-time Reporting</a></span></li>
    </ul>
    <ul>
      <li>Services</li>
      <li><span class="hvr-underline-from-center">Process Consulting</span></li>
      <li><span class="hvr-underline-from-center">Software Consulting</span></li>
    </ul>
    <ul>
      <li>Contact</li>
      <li><span class="hvr-underline-from-center">Twitter</span></li>
    </ul>
  </main>
</footer>
