
<footer>
  <aside>
    <h2>eaMode</h2>
    <h3>Software for the modern enterprise</h3>
  </aside>
  <main>
    <ul>
      <li>Resources</li>
      <li class="hvr-underline-from-center">Open Source</li>
      <li class="hvr-underline-from-center">About Us</li>
    </ul>
    <ul>
      <li>Case Studies</li>
      <li class="hvr-underline-from-center">Healthcare</li>
      <li class="hvr-underline-from-center">Enterprise Apps</li>
      <li class="hvr-underline-from-center">Real-time Reporting</li>
    </ul>
    <ul>
      <li>Services</li>
      <li class="hvr-underline-from-center">Process Modeling</li>
      <li class="hvr-underline-from-center">Consulting Support</li>
    </ul>
    <ul>
      <li>Contact</li>
      <li class="hvr-underline-from-center">Twitter</li>
    </ul>
  </main>
</footer>
